@model IEnumerable<Abc.MvcWebUI.Models.AdminOrderModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
<h2>Siparişler</h2>
    <hr/>
    
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Order Number</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th>Total</th>
            <th>Product Count</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderNumber</td>
                    <td>@item.OrderDate</td>
                    <td>@item.OrderState</td>
                    <td>@item.Count</td>
                    <td>@item.Total</td>
                    <td>
                        @Html.ActionLink("Details","Details",new {id=@item.Id},new {@class="btn btn-primary btn-sm"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

